.container {
    width: 100%;
    flex: 1 1 0%;
}

.listContainer {
    position: relative;
}

.list {
    position: absolute;
    left: -60px;
    top: 25px;
    padding-top: 10px;
    box-shadow: 0 0 5px black;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    border-radius: 3px;
}

.list__buttonClose {
    width: 100%;
    height: 38px;
    color: #666666;
    background-color: #D9D9D9;
}