:root {
    --black: #333333;
    --orange: #CC6633;
    --green: #A4CC33;
    --whiteLightness: 100%;
    --white: hsl(0, 0%, var(--whiteLightness));
    --greyF4: hsl(0, 0%, calc(var(--whiteLightness) - 4%));
    --greyF3: #f3f3f3;
    --greyD9: #d9d9d9;
    --greyC4: #c4c4c4;
    --grey99: #999;
    --grey66: #666;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--greyF4);
    font-size: 14px;
    line-height: 16px;
}

* {
    color: var(--black);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.list__item {
    display: flex;
    margin: 0 20px;
    padding: 12px;
    border-bottom: 1px solid #ECECEC;
    color: #999999;
}

.list__item__content {
    margin-right: 5px;
}