body {
    padding: 0;
    margin: 0;
    background-color: var(--greyF4);
    font-size: 14px;
    line-height: 16px;
}

:root {
    --black: #333333;
    --orange: #CC6633;
    --green: #A4CC33;
    --whiteLightness: 100%;
    --white: hsl(0, 0%, var(--whiteLightness));
    --greyF4: hsl(0, 0%, calc(var(--whiteLightness) - 4%));
    --greyF3: #f3f3f3;
    --greyD9: #d9d9d9;
    --greyC4: #c4c4c4;
    --grey99: #999999;
    --grey66: #666666;
}

* {
    color: var(--black);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}